* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

header{
    background: linear-gradient(rgb(25, 201, 25), #ffffff);
    height: 100px;
    width: 100%;
    position: absolute;
}

.caixa{
	position:static;
	margin: 0 auto;
}

.imagemola{
   width: 150px;
   
}

.listamenu{
    position: absolute;
    left: 30%;
    top: 30%;
}

.listamenu li{
	display: inline;
    margin: 5px 0 5px 20px;
}

.listaicone{
    position: absolute;
    left: 80%;
    top: 25%;
}

nav a {
	text-transform: uppercase;  
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c0ecb5;
	text-decoration: underline;
}

.iconeredes{
    width: 30px;
    display: inline;
}

.iconeredes img{
    width: 50px;
   
}

.sobremim{
    display: inline-flex;
    margin-top: 200px;
    text-align: center;
    margin-left: 200px;
}
.caixasobremim{
    display:inline-block;
    width: 50%;
}
.imagempensativo{
    display: inline-block;
    width: 300px;

}

.partetectitulo{
    display: block;
    text-align: left;
    margin-top: 50px;
    margin-left: 0;
}

.partequimicatitulo{
    display: block;
    text-align: right;

}

.partetec{
    float: left;
    margin-bottom: 0;
    text-align: left;
}

.tabelatec{
    display: inline-block;
    vertical-align: middle;
}

.imagemformacao{
    display: inline-block;
    width: 100%;
    vertical-align: middle;

}

.tabelaquimica{
    display: inline-block;
    vertical-align: middle;
}