.logo{
    display: block;
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-right: auto;  
}

header div{
    background: rgb(174, 240, 174);
    padding: 20px;
}

.menu{
    text-align: left;
}

div {
    text-align: center;
    font-size: 20px;
}

div a{
    display: inline;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

a:hover{
    text-decoration: underline;
}

.tituloprincipal{
    text-align: center;
}

footer div{
    text-align: left;
}

footer .iconeredes{
    width: 60px;
}

footer div img{
    width: 50px;
    display: inline;
}


